.catalog {
  padding-top: 84px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 67px;
  }
}

.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 118px;

  @include vp-1023 {
    padding: 0 60px;
  }

  @include vp-767 {
    padding: 0 25px;
  }
}

.catalog h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 50px;

  @include vp-1023 {
    font-size: 26px;
    margin-bottom: 49px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.catalog__item {
  color: $color-alice-blue;
  background-color: $color-tangaroa;
  padding: 29px 25px 35px 25px;
  min-height: 386px;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-tangaroa;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    bottom: 22px;
    left: 30px;

    @include vp-1023 {
      bottom: 27px;
      left: 35px;
    }

    @include vp-767 {
      bottom: 16px;
      left: 25px;
    }
  }

  @include vp-1023 {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.catalog__item--astoria::before {
  background-image: url("../img/catalog/astoria.jpg");
}

.catalog__item--astoria::after {
  content: "Круиз “Астория”";
}

.catalog__item--eline::before {
  background-image: url("../img/catalog/minion-1.jpg");
}

.catalog__item--eline::after {
  content: "Круиз “Элайн”";
}

.catalog__item--atlantis::before {
  background-image: url("../img/catalog/atlantis.jpg");
}

.catalog__item--atlantis::after {
  content: "Круиз “Атлантис”";
}

.catalog__item--odissey::before {
  background-image: url("../img/catalog/odissey.jpg");
}

.catalog__item--odissey::after {
  content: "Круиз “Одиссей”";
}

.catalog__item--olimpia::before {
  background-image: url("../img/catalog/odissey.jpg");
}

.catalog__item--olimpia::after {
  content: "Круиз “Олимпия”";
}

.catalog__item--aurora::before {
  background-image: url("../img/catalog/aurora.jpg");
}

.catalog__item--aurora::after {
  content: "Круиз “Аврора”";
}

.catalog__item--leonor::before {
  background-image: url("../img/catalog/leonor.jpg");
}

.catalog__item--leonor::after {
  content: "Круиз “Леонор”";
}

.catalog__item--minion::before {
  background-image: url("../img/catalog/minion-1.jpg");
}

.catalog__item--minion::after {
  content: "Круиз “Минион - 1”";
}

.catalog__item:hover::before,
.catalog__item:hover::after,
.catalog__item:focus-within::before,
.catalog__item:focus-within::after {
  display: none;
}

.catalog h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 14px;
}

.catalog dl {
  margin: 0;
}

.catalog dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 2px;
}

.catalog dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-left: 0;
  margin-bottom: 11px;
}

.catalog dd:last-of-type {
  margin-bottom: 0;
}

.catalog a {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  display: block;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  background-color: $color-alice-blue;
  height: fit-content;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}
