.early-booking {
  padding: 48px 0;
  background-color: #c9e9ff;
  background-image: url("../img/background/booking-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    padding-top: 92px;
    padding-bottom: 100px;
    background-image: url("../img/background/booking-background-tablet.jpg");
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 67px;
    background-image: url("../img/background/booking-background-mobile.jpg");
  }
}

.early-booking__container {
  padding: 0 163px;
  display: grid;
  grid-template-columns: 1fr 403px;
  column-gap: 144px;

  @include vp-1023 {
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.early-booking__text {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3px;

  @include vp-1023 {
    align-items: center;
    margin-bottom: 52px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.early-booking__text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 7px;

  @include vp-1023 {
    font-size: 34px;
    margin-bottom: 4px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 14px;
  }
}

.early-booking__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  max-width: 352px;

  @include vp-1023 {
    text-align: center;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
    max-width: 257px;
  }
}

.early-booking__form {
  padding: 50px;
  padding-top: 45px;
  background-color: $color-tangaroa;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;

  @include vp-1023 {
    max-width: 403px;
    padding-top: 43px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 40px 30px;
    padding-top: 35px;
  }
}

.early-booking__form p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
  margin-top: 0;
  margin-bottom: 26px;

  @include vp-1023 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    line-height: 140%;
    text-align: center;
  }
}

.early-booking__form input {
  padding: 14px 18px 11px 18px;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  border: 0;
  margin-bottom: 20px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(1, 28, 64, 0.7);
  }

  @include vp-1023 {
    padding: 13px 16px 11px 16px;
  }

  &:hover::placeholder {
    color: $color-tangaroa;
  }

  &:focus::placeholder {
    color: $color-tangaroa;
  }
}

.early-booking__form label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  cursor: pointer;

  @include vp-767 {
    align-items: flex-start;
    margin-bottom: 28px;
  }
}

.early-booking__form span {
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-alice-blue;

  @include vp-767 {
    line-height: 120%;
  }
}

.early-booking__form input[type="checkbox"] + span {
  display: block;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;
  margin-right: 6px;
  position: relative;

  @include vp-767 {
    width: 26px;
    height: 20px;
    margin-right: 8px;
  }
}

.early-booking__form input[type="checkbox"]:focus + span {
  background-color: $color-tangaroa;
  border: 1px solid $color-alice-blue;
}

.early-booking__form input[type="checkbox"]:checked + span::before {
  position: absolute;
  content: "";
  left: 7px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid #101a56;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);

  @include vp-1023 {
    top: 4px;
  }

  @include vp-767 {
    top: 5px;
  }
}

.early-booking__form input[type="checkbox"]:checked:focus + span::before {
  border-color: $color-alice-blue;
  top: 2px;
  left: 6px;

  @include vp-1023 {
    top: 3px;
  }

  @include vp-767 {
    top: 4px;
  }
}

.early-booking__checkbox:hover {
  opacity: 0.7;
}

.early-booking__form button {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  padding: 12px;
  background-color: $color-alice-blue;
  border: 0;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }

  @include vp-767 {
    padding: 10px;
  }
}
