.main-block {
  padding-top: 270px;
  padding-bottom: 285px;
  background: url("../img/background/main-background-desktop.jpg"), $color-tangaroa;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/background/main-background-desktop@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 268px;
    padding-bottom: 275px;
    background-image: url("../img/background/main-background-tablet.jpg");
    background-position: center;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background/main-background-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    min-height: 500px;
    padding-top: 175px;
    padding-bottom: 177px;
    box-sizing: border-box;
    background-image: url("../img/background/main-background-mobile.jpg");
    background-position: bottom;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background/main-background-mobile@2x.jpg");
    }
  }
}

.main-block__container {
  padding: 0 200px;

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.main-block h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  margin-top: 0;
  margin-bottom: 12px;
  color: $color-alice-blue;
  text-shadow: $text-shadow;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 12px;
  }
}

.main-block p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: $text-shadow;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
  }
}
